*{
    padding:0;
    margin:0;
    font-family:sans-serif;
}

.banner1{
    background-image:url(../Images/image.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}

.banner2{
    background-image:url(../Images/image.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.navbar{
    width:100%;
    margin:auto;
    padding:20px 0px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color:rgb(44, 44, 44);
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 25px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}

.navbar ul li::after{ 
    content: '';
    height: 2px;
    width: 0;
    background:white;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 1s;
}

.navbar ul li:hover::after{
    width: 100%;
}